.img {
    width: 200px;
    height: 300px;
    transition: 0.5s;
}

.img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cards {
    /* height: 100%; */
    min-height: 500px;
}

::-webkit-scrollbar {
    display: none;
}

.cartImg {
    width: 100px;
    height: 100px
}

.main {
    display: flex;
    justify-content: space-between;
}

.brand {
    font-size: 50px;
}