@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,300&display=swap');

body{
    font-family: 'Poppins', sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* .img {
    width: 200px;
    height: 300px;
    transition: 0.5s;
} */

/* .img:hover {
    transform: scale(1.1);
    transition: 0.5s;
} */

/* .cards {
    min-height: 500px;
} */

::-webkit-scrollbar {
    display: none;
}

.cartImg {
    width: 100px;
    height: 100px
}

.main {
    display: flex;
    justify-content: space-between;
}

.brand {
    font-size: 50px;
    color: black;
}

.Navbar{
    border:none
}

.cartIcon{
    float:right
}